:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 50px 0px;
  height: 200px;
}

.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  color: #E52322;
  font-size: 32px;
}
.header-link .link__title-japan {
  font-family: Atyp Display;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
.header-link img {
  margin-left: 20px;
}
.header-link .line {
  margin-left: 20px;
  width: 15px;
  background: #0f0f50;
  height: 3px;
}

.header__text {
  color: #0f0f50;
  font-family: Atyp Display;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
}

.menu__link-btn {
  display: block;
  background: #0f0f50;
  color: white;
  padding: 15px 35px;
  border-radius: 25px;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  transform: rotate(-405deg);
}

.footer {
  padding-top: 100px;
  padding-bottom: 70px;
}
.footer .container .wrapper {
  max-width: 70%;
  margin: 0px auto;
}
.footer .container .wrapper .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.footer .container .wrapper .global-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}
.footer .container .wrapper .global-menu button, .footer .container .wrapper .global-menu img {
  margin-right: 25px;
}
.footer .container .wrapper .footer__descr {
  font-family: Atyp Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f50;
}
.footer .container .wrapper .footer__descr span {
  font-weight: 700;
}
.footer .container .wrapper .footer__link-developer {
  color: #0f0f50;
  font-family: Atyp Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.section__descr {
  font-family: Atyp Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.section__descr span {
  font-size: 130%;
}

.section__title {
  font-family: Atyp Display;
  font-size: 67px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.btn {
  border: 2px solid #beaaff;
  padding: 15px 60px;
  border-radius: 30px;
  background: none;
}
.btn .btn__link {
  font-family: Atyp Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #0f0f50;
}

.btn-yellow {
  border: 2px solid #ffcd2d;
}
.btn-yellow .btn__link-yellow {
  color: #ffcd2d;
}

.btn-blue {
  background: #0f0f50;
  border: none;
}
.btn-blue .btn__link {
  color: #beaaff;
}

.greeting {
  padding-top: 30px;
  padding-bottom: 170px;
}
.greeting .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
.greeting .container .section__text .section__pretitle {
  font-family: Atyp Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #beaaff;
  margin-bottom: 20px;
}
.greeting .container .section__text img {
  margin-bottom: 15px;
}
.greeting .container .section__text .section__descr {
  color: #0f0f50;
  margin-bottom: 25px;
}
.greeting .container .section__text .number-telephone {
  display: block;
  margin-top: 20px;
  font-family: Atyp Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  color: #0f0f50;
  border: 1px solid #0f0f50;
}

.app {
  padding-top: 60px;
  padding-bottom: 75px;
}
.app .container .wrapper {
  width: 70%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.app .container .wrapper .app-text .section__title {
  text-align: left;
  margin-bottom: 20px;
  color: #0f0f50;
}
.app .container .wrapper .app-text .section__descr {
  color: #0f0f50;
  margin-bottom: 20px;
}
.app .container .wrapper .app-text .section__descr span {
  font-weight: 700;
}
.app .container .wrapper .app-text .app-container .app-link {
  display: block;
  margin-bottom: 15px;
}

.group {
  background: #0f0f50;
  padding-top: 90px;
  padding-bottom: 90px;
}
.group .container .wrapper {
  width: 90%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.group .container .wrapper .group-text .section__title {
  color: #ffcd2d;
  text-align: left;
  margin-bottom: 15px;
}
.group .container .wrapper .group-text .section__descr {
  color: #ffcd2d;
  margin-bottom: 25px;
}

.shop {
  padding-top: 90px;
  padding-bottom: 90px;
}
.shop .container .wrapper {
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.shop .container .wrapper .shop-text .section__title {
  text-align: left;
  color: #0f0f50;
}
.shop .container .wrapper .shop-text .section__descr {
  color: #0f0f50;
  margin-bottom: 25px;
}

@media screen and (max-width: 1440px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .greeting .container .greeting-img {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  .info-burger, .group-img, .app-img, .about-img {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  .wrapper {
    width: 100%;
  }
  .info .info-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
  .delivery .container .delivery__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .app .container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .app .container .wrapper .app-text .section__title, .app .container .wrapper .app-text .section__descr, .app .container .wrapper .app-text .app-container {
    text-align: center;
  }
  .shop .container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .shop .container .wrapper img {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  .footer .container .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer .container .img-container img {
    margin-bottom: 25px;
  }
  .footer .container .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer .container .btns .btn {
    margin-bottom: 25px;
  }
  .footer .container .app-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer .container .app-container a {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 720px;
  }
  .top-nav {
    display: block;
    margin-bottom: 50px;
  }
  .header-link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header-link-wrapper .header-link {
    text-align: center;
  }
  .greeting {
    padding-bottom: 0;
  }
  .greeting .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .greeting .container .section__text {
    margin: 0px auto;
  }
  .group .container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .group .container .wrapper .group-text .section__title, .group .container .wrapper .group-text .section__descr {
    text-align: center;
  }
  .group .container .wrapper .group-text .btn {
    display: block;
    margin: 0px auto;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 540px;
  }
  .about .container .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about .container .wrapper .section__text .section__title, .about .container .wrapper .section__text .section__descr {
    text-align: center;
  }
  .about .container .wrapper .section__text .btn {
    display: block;
    margin: 0px auto;
  }
}
@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .header-link {
    display: block;
  }
  .header-link img {
    display: block;
    margin: 0px auto;
  }
  .header-link .link__title-japan {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */